<nav class="navbar">
    <ul>
        <li><a href="/">ACCUEIL</a></li>
        <li><a href="/programmeTv">PROGRAMME TV</a></li>
        <li><a href="/direct">DIRECT</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="/formulaireProgrammeTv">AJOUTER UN PROGRAMME</a></li>
        <li><a href="/apropos">À PROPOS</a></li>
    </ul>    
    <div class="nav-right">
      <a href="/connexion" class="btn-connexion">Mon Espace</a>  
</nav>