<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Chaîne Yatru</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <%- include('navbar') %> 

    <header>
        <h1>Bienvenue sur Chaîne Yatru</h1>
        <p>Découvrez des vidéos sur la danse traditionnelle de Mayotte et d'autres programmes culturels passionnants.</p>
    </header>

<div class="container">
    <h1>Bienvenue sur Chaîne Yatru</h1>
    <p>Notre chaîne diffuse en ligne des vidéos culturelles comme :</p>

    <ul>
        <li><strong>Zama za Halé  : </strong> Les histoires de notre magnifique ile et ses habitants. </li>
        <li><strong>Chigoma Live :</strong> Découvrez les danses traditionnelles en direct.</li>
        <li><strong>Débat Culturel :</strong> Participez aux discussions sur l’héritage culturel.</li>
        <li><strong>Mazaraka TV :</strong> Plongez dans les cérémonies de mariage traditionnelles.</li>
    </ul>
</div>

    <section class="presentation">
        <h2>Qui sommes-nous ?</h2>
        <p>Nous sommes une chaîne dédiée à la culture Mahoraise et son histoire : danses, débats, chants, histoires et traditions. Rejoignez-nous pour explorer cet univers unique.</p>
    </section>

    <%- include('footer') %> 

</body>
</html>
