<nav class="navbar">
    <ul>
        <li><a href="/">ACCUEIL</a></li>
        <li><a href="/direct">DIRECT</a></li>
        <li><a href="/programmeTv">PROGRAMME TV</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="/apropos">À PROPOS</a></li>
    </ul>
</nav>
